
.form
  %h2 Signup

  - if flash[:notice]
    .errors-box
      %p.notice-text= flash[:notice]


  = form_with model: @user, url: registrations_url, method: :post do |f|
    .form-group
      = f.label :username, 'Username'
      = f.text_field :username, class: 'form-input'

    .form-group
      = f.label :display_name, 'Display name'
      = f.text_field :display_name, class: 'form-input'

    .form-group
      = f.label :password, 'Password'
      = f.password_field :password, class: 'form-input'

    .form-group
      = f.label :password_confirmation, 'Password Confirmation'
      = f.password_field :password_confirmation, class: 'form-input'

    = f.submit 'Signup', class: 'signup-btn'
